.air-traffic-control {

  &__optin-table {
    margin: 10px;
    border-collapse:collapse;

    tr:first-child {
      width: 480px;
      height: 35px;
      font-size: 14px;
      background-color: #EDEEEF;

      th {
        text-align: left;

        &:first-child {
          width: 550px;
          white-space: nowrap;
          padding-left: 20px;
        }

        &:nth-child(2) {
          width: 120px;
        }

        &:nth-child(3) {
          width: 20px;
        }

        &:nth-child(5) {
          width: 45px;
        }

        &:nth-child(6) {
          width: 100px;
        }

        &:nth-child(7) {
          width: 15px;
        }
      }
    }
  }
}